<body class="vertical-layout vertical-menu 2-columns menu-expanded fixed-navbar" data-open="click"
  data-menu="vertical-menu" data-col="2-columns">
  <!-- fixed-top-->
  <%- partial('./partials/Nav.ejs') %>

  <div class="app-content content">
    <div class="content-wrapper">
      <div class="u-profile-main u-c-p-main">
        <div class="content-body">
          <!-- Basic form layout section start -->
          <section id="configuration" class="u-c-p u-profile add-user">
            <div class="row">
              <div class="col-12">
                <div class="card pro-main">
                  <div class="row">
                    <div class="col-12">
                      <h1>Users List </h1>
                    </div>
                  </div>
                  <form method="POST" action="/users/feedback">
                    <div class="row">
                      <div class="col-xl-6  col-md-10 col-12 offset-xl-3 offset-lg-2 offset-md-1">
                        <div class="profile-frm">

                          <!--col end-->
                          <div class="row">
                            <div class="col-12">
                              <div class="pro-inner-row">
                                <label><i class="fa fa-envelope"></i> Subject</label>
                                <input type="text" class="form-control" name="subject" placeholder="John Doe">
                              </div>

                              <div class="pro-inner-row">
                                <label><i class="fa fa-envelope"></i> Description</label>
                                <input type="text" class="form-control" name="description"
                                  placeholder="michealalex@gmail.com">
                              </div>

                            
                              <!--pro inner row end-->

                              <!--pro inner row end-->

                            </div>
                            <!--pro inner row end-->

                            <br>
                          </div>
                        </div>
                        <!--row end-->

                      </div>
                      <!--profile form end-->

                    </div>


                    <div class="row">

                      <div class="col-12 text-center">
                        <button type="submit">Create</button>

                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
  <!-- ////////////////////////////////////////////////////////////////////////////-->

  <!-- BEGIN VENDOR JS-->

  <!-- END STACK JS-->
  <!-- BEGIN PAGE LEVEL JS-->
  <!-- END PAGE LEVEL JS-->
  <script>
    $('#datepicker').datepicker({
      uiLibrary: 'bootstrap4'
    });
  </script>
</body>

</html>