
<body class="vertical-layout vertical-menu 2-columns menu-expanded fixed-navbar" data-open="click" data-menu="vertical-menu" data-col="2-columns">
<!-- fixed-top-->
<%- partial('./partials/Nav.ejs') %>

<!-- ////////////////////////////////////////////////////////////////////////////-->

<div class="app-content content">
  <div class="content-wrapper">
    <div class="u-profile-main u-c-p-main">
      <div class="content-body"> 
        <!-- Basic form layout section start -->
        <section id="configuration" class="u-c-p u-profile add-user">
          <div class="row">
            <div class="col-12">
              <div class="card pro-main">
                <div class="row">
                  <div class="col-12">
                    <h1>Users List </h1>
                  </div> 
                  </div> 
				  <form method="POST" action="/users/create">
				  <div class="row">
                  <div class="col-xl-6  col-md-10 col-12 offset-xl-3 offset-lg-2 offset-md-1">
                    <div class="profile-frm">
                     <div class="row">
                        <div class=" col-12">
                          <div class="attached"> <img src="/images/Profile_03.png" alt="">
                            <button name="file" class="change-cover" onclick="document.getElementById('upload').click()"><i class="fa fa-camera"></i></button>
                            <input type="file" id="upload" name="file">
                            <p class="user-name">micheal alex </p>
                          </div>
                        </div>
						  </div>
                        <!--col end-->
                        <div class="row">
                        <div class="col-12">
                          <div class="pro-inner-row">
                            <label><i class="fa fa-envelope"></i> Name</label> 
							   <input type="text" class="form-control" name="name" placeholder="John Doe">
                          </div>
                          
                           <div class="pro-inner-row">
                            <label><i class="fa fa-envelope"></i> Email Address</label> 
							   <input type="email" class="form-control" name="email" placeholder="michealalex@gmail.com">
                          </div>
                          
                          <div class="pro-inner-row">
                            <label><i class="fa fa-phone"></i> password</label> 
							                  <input type="password class="form-control" name="password" placeholder="abc.123">
                          </div>
                           <!--pro inner row end-->
							    <div class="pro-inner-row">
                            <label><i class="fa fa-phone"></i> phone Number</label> 
							    <input type="text" class="form-control" name="phoneno" placeholder="+1-101-555-0168">
                          </div>
                               <!--pro inner row end-->
                          <div class="pro-inner-row">
                            <label><i class="fa fa-calendar "></i> DOB </label>
                          	 <input id="datepicker" name="dob" class="form-control" placeholder="22-2-2019" />
                          </div>
                          
                          <!--pro inner row end-->
                          
                          <div class="pro-inner-row">
                            <label><i class="fa fa-map-marker"></i> Address</label>
                            <input type="text" class="form-control" name="address" placeholder="14 Street Rosville, California USA">
                          </div>
                          <!--pro inner row end-->
                          
                          <div class="pro-inner-row">
                            <label><i class="fa fa-map-marker"></i> City</label>
                            <input type="text" class="form-control" name="city" placeholder="new york">
                          </div>
                          <!--pro inner row end-->
                          
                          <div class="pro-inner-row">
                            <label><i class="fa fa-map-marker"></i> Country</label> 
							   <input type="text" class="form-control" name="country" placeholder="United States">
                          </div>
                           
                           
                        </div>
                        <!--pro inner row end--> 
                        
                        <br>
                      </div>
                    </div>
                    <!--row end--> 
                    
                  </div>
                  <!--profile form end-->  
					
				  </div>
				  
				  
				  <div class="row">
				  
				  <div class="col-12 text-center">
					  <button type="submit" >Create</button>
					  
					  </div>
				  </div>
					  </form>
				</div>
			  </div>
			</div>
		  </section>
		</div>
	  </div>
	</div>
	</div>
<!-- ////////////////////////////////////////////////////////////////////////////--> 

<!-- BEGIN VENDOR JS--> 

<!-- END STACK JS--> 
<!-- BEGIN PAGE LEVEL JS--> 
<!-- END PAGE LEVEL JS-->
	<script>
        $('#datepicker').datepicker({
            uiLibrary: 'bootstrap4'
        });
    </script>
</body>
</html>
