
<body class="vertical-layout vertical-menu 2-columns menu-expanded fixed-navbar" data-open="click" data-menu="vertical-menu" data-col="2-columns">
<!-- fixed-top-->
<%- partial('./partials/Nav.ejs') %>

<div class="app-content content">
  <div class="content-wrapper">
    <div class="u-profile-main u-c-p-main">
      <div class="content-body"> 
        <!-- Basic form layout section start -->
        <section id="configuration" class="u-c-p u-profile add-user dasboard">
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-md-6 col-sm-12">
                  <div class="card custom-class-1">
                    <div class="mx-auto d-block"> <i class="fas fa-bell"></i> </div>
                    <h3  class="text-center">Total Alerts generated</h3>
                    <div class="mx-auto d-block">
                      <div id="canvas">
                        <div class="circle" id="circles-1"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-sm-12">
                  <div class="card custom-class-1">
                    <div class="mx-auto d-block"> <i class="fas fa-user-circle"></i> </div>
                    <h3  class="text-center">Active users</h3>
                    <div class="mx-auto d-block">
                      <div id="canvas">
                        <div class="circle" id="circles-2"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="content-space">
                <div class="row">
                  <div class="offset-md-2 col-md-4 col-sm-12 d-flex">
                    <div class="card custom-class-2 flex-column">
                      <div class="fl">
                        <div class="float-left">
                          <h4>total</h4>
                          <br>
                          <h2><%=userscount%></h2>
                        </div>
                      </div>
                      <div class="fr">
                        <div class="float-right">
                          <h4>users</h4>
                          <br>
                          <i class="fas fa-user-circle"></i> </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-12 d-flex">
                    <div class="card custom-class-2 flex-column">
                      <div class="fl">
                        <div class="float-left">
                          <h4>total</h4>
                          <br>
                          <h2><%=feedbackCount%></h2>
                        </div>
                      </div>
                      <div class="fr">
                        <div class="float-right">
                          <h4>feedback</h4>
                          <br>
                          <i class="fas fa-comment"></i> </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>

<!-- ////////////////////////////////////////////////////////////////////////////--> 
<!-- BEGIN CUSTOM JS--> 
<script src="/assets/js/circles.js"></script> 

<script>
        $('#datepicker').datepicker({
            uiLibrary: 'bootstrap4'
        });
    </script> 
<!-- ////////////////////////////////////////////////////////////////////////////--> 
<!-- BEGIN CUSTOM SCRIPTS--> 
<script>
		var colors = [
				['#e6e7e8', 'red'], ['#e6e7e8', 'yellow']],
			circles = [];

		for (var i = 1; i <= 5; i++) {
			var child = document.getElementById('circles-' + i),
				percentage = 31 + (i * 9),
				
				circle = Circles.create({
					id:         child.id,
					value:      percentage,
					radius:     getWidth(),
					width:      10,
					colors:     colors[i - 1]
				});
			
			circles.push(circle);
		}

		window.onresize = function(e) {
			for (var i = 0; i < circles.length; i++) {
				
				circles[i].updateRadius(getWidth());
			}
		};

		function getWidth() {
			return window.innerWidth / 20;
		}

	</script> 
<!-- END CUSTOM SCRIPTS--> 
<!-- ////////////////////////////////////////////////////////////////////////////-->
</body>
</html>
