


<body class="vertical-layout vertical-menu 2-columns menu-expanded fixed-navbar" data-open="click" data-menu="vertical-menu" data-col="2-columns">
<!-- fixed-top-->
<nav class="header-navbar navbar-expand-md navbar navbar-with-menu fixed-top navbar-light navbar-border">
  <div class="navbar-wrapper">
    <div class="navbar-header">
      <ul class="nav navbar-nav flex-row">
        <li class="nav-item mobile-menu d-md-none mr-auto"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="ft-menu font-large-1"></i></a></li>
        <li class="nav-item"> <a class="navbar-brand" href="/dashboard.html"> <img class="brand-logo" alt="stack admin logo" src="/images/logo.png"> </a> </li>
        <li class="nav-item d-md-none"> <a class="nav-link open-navbar-container" data-toggle="collapse" data-target="#navbar-mobile"><i class="fa fa-ellipsis-v"></i></a> </li>
      </ul>
    </div>
    <div class="navbar-container content">
      <div class="collapse navbar-collapse" id="navbar-mobile">
        <ul class="nav navbar-nav mr-auto float-left">
        </ul>
        <ul class="nav navbar-nav float-right">
          <li class="dropdown dropdown-user nav-item"> <a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown"> <span class="avatar avatar-online"> <img src="app-assets/images/portrait/small/avatar-s-1.png" alt="avatar"><i></i></span> <span class="user-name">John Doe</span> </a>
            <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item" href="#"><i class="ft-user"></i> Edit Profile</a> <a class="dropdown-item" href="#"><i class="ft-mail"></i> My Inbox</a> <a class="dropdown-item" href="#"><i class="ft-check-square"></i> Task</a> <a class="dropdown-item" href="#"><i class="ft-message-square"></i> Chats</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#"><i class="ft-power"></i> Logout</a> </div>
          </li>
          <li class="nav-item d-none d-md-block"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="ft-menu"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<!-- ////////////////////////////////////////////////////////////////////////////-->
<div class="main-menu menu-fixed menu-light menu-accordion" data-scroll-to-active="true">
  <div class="main-menu-content">
     <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation"> 
       
      <li class="nav-item "><a href="/users"><i class="fa fa-user"></i><span class="menu-title" data-i18n="">users</span></a></li>
      <li class="nav-item active"><a href="/feedback"><i class="fa fa-comments"></i><span class="menu-title" data-i18n="">Feedback</span></a></li>
    </ul>
  </div>
</div>
<div class="app-content content">
  <div class="content-wrapper">
    <div class="">
      <div class="content-body"> 
        <!-- Basic form layout section start -->
        <section id="configuration" class="u-c-p u-profile a-feedback">
          <div class="row">
            <div class="col-7">
              <div class="card pro-main">
				  
				  <div class="profile-image">
				  <img src="/images/profile.png" class="img-fluid" alt="">
				  
				  </div>
               
                <div class="row">
                  <div class=" col-12">
                    <div class="profile-frm">
                      <div class="row"> 
                        
                        <!--col end-->
                        
                        <div class=" col-12">
							 <h1>Feedback detail</h1>
                          <label><i class="fa fa-envelope"></i> Email Address</label>
                          <p>michealalex@gmail.com</p>
                          <label><i class="fa fa-file"></i>subject</label>
                          <p>Neque porro quisquam est</p>
							<label><i class="fa fa-calendar"></i>date</label>
                          <p>15 jan 2019</p>
                          <label><i class="fa fa-comments"></i> Description</label>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
							<div class="row d-flex justify-content-between repl">
							<div class="col-sm-6 col-12">
								<a href="reply-feedback.html"><i class="fa fa-share"></i>reply</a>
							</div>
							<div class="col-sm-6 col-12 text-right">
								<a href="#"><i class="fa fa-trash"></i>delete</a>
							</div>
							</div>
                          	<a href="/feedback" class="save">Back</a>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>

<!-- ////////////////////////////////////////////////////////////////////////////--> 



<!-- BEGIN PAGE LEVEL JS--> 
<!-- END PAGE LEVEL JS-->
</body>
</html>
