<body class="vertical-layout vertical-menu 2-columns menu-expanded" data-open="click" data-menu="vertical-menu" data-col="2-columns">

  <!--register page start here-->
  
  <section class="register loginn">
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-xl-3"></div>
        <div class="col-md-8 col-xl-6 col-12">
          <div class="register-main">
             <img src="/images/login-logo.png" class="img-full" alt="logo">
              <div class="form-main">
                <div class="row">
                  <div class="col-md-12">
                    <div class="img-div">
                      <div class="img-div-inner"> </div>
                    </div>
                  </div>
                </div>
                <!--fields start here-->
                 <form method="POST" action="/auth/login">
                <div class="fields">
                  <div class="row">
                    <div class="col-md-12"> <i class="fa fa-user"></i>
                      <input type="text" class="form-control" spellcheck="true" name="email" placeholder="Email Address">
                    </div>
                    <div class="col-md-12"> <i class="fa fa-key"></i>
                      <input type="password" spellcheck="true" class="form-control" name="password" placeholder="Password">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 col-6">
                      <label class="check">Remember me
                        <input type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                      </label>
                    </div>
                    <div class="col-md-6 col-6"><a href="u-forget-pass.html">Forgot Password?</a></div>
                  </div>
                  <button type="submit" class="form-control">Login</button>
                  <div class="new-user">
                  <p>new user</p>
                  <a href="/register" class="login form-control">Register Account</a></div>
                <!--fields end here--> 
                </div>
                </form>
              </div>
           </div>
        </div>
        <div class="col-md-2 col-xl-3"></div>
      </div>
    </div>
  </section>
  
  <!--register page end here--> 
  

  
  <!-- END STACK JS--> 
  <!-- BEGIN PAGE LEVEL JS--> 
  <!-- END PAGE LEVEL JS-->
  </body>